{% extends 'base.html' %}
{% load static %}

{% block title %}Detaljer för {{ annons.rubrik }}{% endblock %}

{% block content %}
<div class="annons-container">
    <h1>{{ annons.rubrik }}</h1>

    {% if annons.bild %}
        <div class="banner">
            <img src="{{ annons.bild.url }}" alt="Banner för {{ annons.rubrik }}">
        </div>
    {% endif %}

    <div class="info-item">
        <strong class="foretag-header"><p>{{ annons.företag }}</p></strong>
    </div>

    <div class="description">
        <p><strong class="description-header">Beskrivning:</strong></p>
        <p>{{ annons.beskrivning }}</p>
    </div>

    <div class="contact-info">
        <h2>Kontaktinformation</h2>
        <div class="info-item">
            <strong>Kontaktperson:</strong> {{ annons.kontaktperson }}
        </div>
        <div class="info-item">
            <strong>Email:</strong> {{ annons.email }}
        </div>
        <div class="info-item">
            <strong>Telefon:</strong> {{ annons.telefon }}
        </div>
        <div class="info-item">
            <strong>Publicerad:</strong> {{ annons.publicerad_datum }}
        </div>
    </div>

    <a href="{% url 'prao' %}" class="back-button">Tillbaka till listan</a>
</div>
{% endblock %}
