{% extends 'base.html' %}
 {% load static  %}
{% block title %}Skapa en Praoannons{% endblock %}

{% block content %}
<h1 class="mb-4">Skapa en Praoannons</h1>
<form method="POST" enctype="multipart/form-data" class="prao-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}  <!-- Visar formulärfälten -->
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Lägg upp annons</button>
</form>
<a href="{% url 'prao' %}" class="btn btn-secondary mt-2">Tillbaka till annonser</a>
{% endblock %}
