{% extends 'base.html' %}
{% load static %}


{% block title %}Hem - Prao Platser{% endblock %}

{% block content %}


<!-- Innehåll på startsidan -->
<h2>Vad är en prao-plats?</h2>
<p>Här kan du beskriva vad en prao-plats är, hur man ansöker, och eventuell annan relevant information.</p>

<h3>Lista över Prao Platser</h3>
<ul>
    <li>Prao Plats 1 - Beskrivning av plats 1.</li>
    <li>Prao Plats 2 - Beskrivning av plats 2.</li>
    <li>Prao Plats 3 - Beskrivning av plats 3.</li>
</ul>
{% endblock %}
